<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.shiro.dao.RouteResourceMapper" >

    <resultMap id="BaseResultMap" type="com.springboot.shiro.dao.bean.RouteResource" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="role" property="role" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List">
        id, path, role
    </sql>

    <select id="listRouteResource" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from route_resource
    </select>

    <select id="getRoleByPath" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from route_resource where path = #{path}
    </select>

</mapper>